.header {
  // .header__wrap

  &__wrap {
    padding: 5px 5px;
    max-width: 1298px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    background: #171717;
    backdrop-filter: blur(7.5px);
  }

  // .header__nav

  &__nav {
  }

  // .header__list

  &__list {
    display: flex;
    justify-content: space-between;
    // margin: 0 -10px;
  }
  &__link {
    font-size: 20px;
    font-weight: 400;
    border-radius: 60px;
    letter-spacing: -0.3px;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &.active {
      background: #fd853a;
    }
    a {
      color: #fff;
      padding: 25px 40px;
    }
  }
  &__mobile {
    &.open {
      background-position-x: 100%;
    }
    transition: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    width: 83px;
    height: 83px;
    background: no-repeat url(/mobile-header-buttons.svg);
  }
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .header__wrap {
    z-index: 9;
    position: absolute;
    // width: 99%;
    left: 0;
    border-radius: 0;
    padding: 15px 0;
  }
  .header__list {
    flex-direction: column;
  }
  .header__link a {
    padding: 10px;
  }
}

@media (max-width: 575.98px) {
}
