.reasons {
  // .reasons__wrap

  &__wrap {
    padding: 166px 0;
    border-radius: 50px;
    background: #f2f4f7;
  }

  // .reasons__title

  &__title {
    margin-bottom: 47px;
    color: #344054;
    font-size: 64px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.96px;
  }

  // .reasons__desc

  &__desc {
    max-width: 60%;
    width: 100%;
    color: #98a2b3;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.3px;
    margin-bottom: 47px;
  }

  // .reasons__row

  &__row {
    display: flex;
  }

  // .reasons__info

  &__info {
    width: 50%;
    color: #1d2939;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.54px;
    margin-bottom: 47px;
    span {
      display: block;
      color: #667085;
      font-family: Lufga;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: -0.3px;
      margin-top: 10px;
    }
  }

  // .reasons__button

  &__button {
    a {
      color: #151515;
      text-align: center;
    }
    border-radius: 32px;
    border: 1px solid #151515;

    font-size: 32px;
    font-weight: 600;
    padding: 33px 10px;
    width: 233px;
    letter-spacing: -0.48px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      border: 1px solid var(--white, #fff);
      a {
        color: var(--white, #fff);
      }
      background: #10110e;
    }
  }
}

@media (max-width: 767.98px) {
  .reasons__wrap {
    padding: 50px 0;
    border-radius: 0;
  }
  .reasons__button {
    padding: 15px;
  }
}

@media (max-width: 575.98px) {
  .reasons__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
  }
  .reasons__info {
    margin: 0 auto 20px;
    text-align: center;
  }
  .reasons__row {
    flex-direction: column;
  }
  .reasons__button {
    display: block;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
  }
  .reasons__desc {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .portfolio__wrap {
    padding: 50px 0;
  }
  .portfolio__row {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .portfolio__label {
    width: max-content;
    white-space: nowrap;
  }
}

@media (max-width: 575.98px) {
  .portfolio__title {
    text-align: center;
    font-size: 40px;
  }
}
