.project-card {
  // .project-card__wrap

  &__wrap {
    background-color: rgba(104, 104, 104, 0.2);
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 44px 0 0;
    overflow: hidden;
    backdrop-filter: blur(7.5px);
  }

  // .project-card__title

  &__title {
    color: var(--white, #fff);
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.48px;
    padding: 0 37px 23px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }

  // .project-card__backing

  &__backing {
    &:hover {
      transform: scale(1.1);
    }
    margin: 49px auto 0;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 351px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      margin: 0 auto;
      background: top/contain no-repeat url("/backing.svg");
    }
  }
  &__main {
    padding: 10px 25px;
    border-radius: 35px;
    background: linear-gradient(0deg, #e7dad1 0%, #e7dad1 100%);
    margin-top: auto;
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__main {
  }

  // .project-card__row

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  // .project-card__item
  &__skeleton {
    width: 94px;
    height: 94px;
    background-color: #e7dad1;
  }
  &__item {
    width: 94px;
    height: 94px;
    margin: 0 20px 10px;
  }
}
.project-card {
  // .project-card__wrap

  &__wrap {
  }

  // .project-card__title

  &__title {
  }

  // .project-card__backing

  &__backing {
  }

  // .project-card__main
}
