.preview__info {
  // transform: scale(0.8);
  background: bottom/contain no-repeat url("/cricle.svg");
  width: 100%;
  max-width: 811px;
  position: relative;
  height: 636px;
  z-index: 9999;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    opacity: 1;
    z-index: -1;
    background: center/contain no-repeat url("/i.webp");
  }
  &::before {
    content: "";
    z-index: -1;
    left: -30px;
    transform: scale(0);
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: center/contain no-repeat url("/main_bg.svg");
    transition: transform 0.3s ease;
    bottom: 11%;
  }
  &:hover {
    &::after {
      animation: fadeIn 0.4s ease forwards;
      opacity: 0;
      background: bottom/contain no-repeat url("/i2.webp");
    }

    &::before {
      transform: scale(1.2);
    }
  }
}
@keyframes fadeIn {
  0% {
    // transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    // transform: scale(1);
  }
}
.preview {
  // .preview__wrap

  &__wrap {
    padding: 56px 0 0;
  }

  // .preview__greeting

  &__greeting {
    text-align: center;
    position: relative;
    bottom: 0;

    &.hide {
      bottom: -250px;
      opacity: 0;
    }
  }

  // .preview__label

  &__label {
    color: #171717;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.3px;
    position: relative;
    margin: 0 auto 10px;
    width: max-content;
    padding: 8px 20px;
    border-radius: 38px;
    border: 1.275px solid #171717;
    background: rgba(255, 255, 255, 0.1);

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 80%;
      background: right/contain no-repeat url(/icons_1.svg);
      right: -23px;
      top: -23px;
    }
  }

  // .preview__title

  &__title {
    color: #171717;
    text-align: center;
    font-size: 95px;

    width: 100%;
    margin: 0 auto;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.433px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 50%;
      height: 80%;
      background: left/contain no-repeat url(/icons_2.svg);
      left: 10%;
      bottom: -59%;
    }
    span {
      color: #fd853a;
    }
  }

  // .preview__row

  &__row {
    display: flex;
    align-items: center;
    margin-top: -80px;
  }

  // .preview__quote

  &__quote {
    &::before {
      content: "";
      display: block;
      width: 36px;
      height: 36px;
      min-width: 36px;
      background: no-repeat url(/quote-up.svg);
      margin-bottom: 24px;
    }
    position: relative;
    top: 0;
    max-width: 328px;
    width: 100%;
    color: #344054;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.3px;
    &.active {
      top: -50%;
    }
  }

  // .preview__info

  &__info {
    display: flex;
    flex-direction: column;
  }

  // .preview__box

  &__box {
    display: flex;
    align-items: flex-end;
    border-radius: 50px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    padding: 10px;
    width: max-content;
    height: max-content;
    margin: auto auto 15px;
    justify-content: center;
  }

  // .preview__link

  &__link {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 60px;
    color: var(--white, #fff);
    font-size: 25.692px;
    font-weight: 600;
    letter-spacing: -0.385px;
    display: flex;
    align-items: center;

    &.active {
      &::after {
        content: "";
        display: inline-block;

        width: 42px;
        height: 42px;
        min-width: 42px;
        background: no-repeat url(/up-right.svg);
      }
      background: #fd853a;
    }
  }

  // .preview__desc

  &__desc {
    &.active {
      top: -50%;
    }
    white-space: nowrap;
    position: relative;
    top: 0;
    color: #171717;
    text-align: center;
    font-size: 47px;
    font-weight: 700;
    // line-height: 100%;
    letter-spacing: -0.705px;
    span {
      position: relative;
      z-index: 2;
      color: #171717;
      text-align: right;
      font-size: 20px;
      display: block;
      font-weight: 400;
      line-height: 100%; /* 20px */
      letter-spacing: -0.3px;
    }
  }
}
@media (max-width: 1399.98px) {
  .preview__title::after {
    content: none;
  }
}

@media (max-width: 991.98px) {
  .preview__title {
    font-size: 50px;
  }
  .preview__info {
    &::before {
      background: bottom/contain no-repeat url(/cricle.svg);
      transform: scale(1.6);
      bottom: 30%;
      position: absolute;
    }
    background: transparent;
  }
  .preview__quote {
    font-size: 14px;
  }
  .preview__info::after {
    background: bottom/contain no-repeat url(/i.webp);
  }
  .preview__box {
    transform: scale(0.8);
  }
}

@media (max-width: 767.98px) {
  .preview__info::after {
    height: 90%;
    left: 2%;
  }
  .preview__quote {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 99999;
  }
  .preview__info {
    &::before {
      background: bottom/contain no-repeat url(/cricle.svg);
      transform: scale(0.9);
      bottom: -5%;
      left: 0;
      position: absolute;
    }
  }
  .preview__desc {
    text-align: right;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 99999;
    right: 0;
  }
  .preview__row {
    position: relative;
  }
  .preview__wrap {
    padding-top: 20px;
  }
  .preview__info {
    height: 476px;
  }
}

@media (max-width: 575.98px) {
  .preview__label {
    transform: scale(0.7);
  }
  .preview__quote {
    display: none;
  }
  .preview__desc {
    height: 51%;
    right: 22px;
    font-size: 28px;
    span {
      font-size: 13px;
    }
  }
  .preview__info::before {
    transform: scale(1.1);
    bottom: 0;
  }
  .preview__info::after {
    bottom: -5%;
  }
  .preview__box {
    margin-bottom: 0;
  }
  .preview__title {
    font-size: 35px;
  }
  .preview__info {
    height: 438px;
  }
}
